{% extends "base.html" %}
{%block title%}Boards{%endblock%}

{%block breadcrumb%}
<li class="breadcrumb-item active">Boards</li>
{%endblock%} 

{%block content%}

<table class="table">
  <thead>
    <tr>
      <th>Board</th>
      <th>Topic</th>
      <th>Posts</th>
      <th>Last Post</th>
    </tr>
  </thead>
  <tbody>
    {%for board in boards%}
    <tr>
      <td>
        <a href="{% url 'board_topics' board.name %}"> {{board.name}}</a>
        <p class="">{{board.desc}}</p>
      </td>
      <td>
        <p class="">{{board.topics.count}}</p>
      </td>
      <td>
        <p class="">{{board.count_posts}}</p>
      </td>

      <td>
        {% with post=board.get_last_post %}
        {% if post %}
        <p>
          {{ post.created_by.username }}<br />
          {{ post.created_date }}
        </p>
        {% else %}
        <p>No posts yet</p>
        {% endif %}
        {% endwith %}
      </td>
      <br />
    </tr>
    {%endfor%}
  </tbody>
</table>

{%endblock%}
